
body{
    margin: 0;
    padding: 0;
}
.top-bar{
    background-color: #E85992;
    height: 26px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.top-bar p{
    margin-top: 6px;
    word-spacing: 10px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
}
.logo{
    font-size: 36px;
    color: goldenrod;
    font-family: cursive;
    margin-left: 4%;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 30%;
    margin-bottom: 12px;
    
    
}
.navigation li{
    margin-right: 28px;
}
.search-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    list-style: none;
}
.search-cart li{
    font-size: 10px;
    margin-right: 20px;
}
.shop-list{
    background-color: white;
    background-color: white;
    box-shadow: 0px 1px 2px 0px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 18%;
    right: 12;
    visibility: hidden;
}

.shop-nav ul{
    list-style: none;
}
.shop-nav ul li{
    margin-top: 10px;
}
.shop-nav:hover .shop-list{
    visibility: visible;
}
.home-decor{
    background-color: white;
    background-color: white;
    box-shadow: 0px 1px 2px 0px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 21%;
    right: 23%;
    height: 20%;
    visibility: hidden;
}
.home-decor ul{
    list-style: none;
    font-size: 12px;
}
.home-decor-list:hover .home-decor{
    visibility: visible;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.search-cart li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 65px;
}
.search-cart li img{
    width: 50%;

}

.banner img{
width: 100%;
}

.catagory {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 50px;
}

.catagory div img{
    width: 68%;
    border-radius: 50%;
}
.rakhi h2{
    margin-left: 50px;
}
.rakhi-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
}
.rakhi .rakhi-item div img{
    height: 146px;
    width: 86%;
}
.addToCart{
    background-color: #D3134F;
    width: 86%;
    text-align: center;
    border-radius: 2px;
    color: white;
}
.view-all-button{
    background: #D3134F;
    color: white;
    height: 35px;
    width: 90px;
    border: none;
    float: right;
    margin-right: 44px;
}
.Healing-Crystals h2{
    margin-left: 50px;
}
.Healing-Crystals .healing-crystals-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 42px;
    margin-right:24px
}
.healing-crystals-item div{
margin-right: 20px;


}
.healing-crystals-item div img{
    width: 100%;
}
.healing-crystals-item div .addToCart{
    width: 100%;
}

.banner2{
    margin-top: 96px;
    margin-bottom: 96px;
}
.Follow-us p{
text-align: center;

}
.follow-us-insta{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.follow-us-insta div img{
    width: 100%;
}

.puja-box-text{
    text-align: center;
}
.puja-box-text a h5{
    color:#D3134F;
}
.delevery-icon{
    display: flex;
    justify-content: space-around;
}
.Cash-on-delivery{
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 12%;
    padding-right: 12%;
}
.footer-body{
    background-color: #FFAFB6;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}
.information-menu a{
   color: white;
   display: block;
}
.my-puja-box a{
    color:white;
    display: block;
}
.customer-care a{
    color:white;
    display: block;
}