
body{
    margin: 0;
    padding: 0;
}
.top-bar{
    background-color: #E85992;
    height: 26px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.top-bar p{
    margin-top: 6px;
    word-spacing: 10px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
}
.logo{
    font-size: 36px;
    color: goldenrod;
    font-family: cursive;
    margin-left: 4%;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 30%;
    margin-bottom: 12px;
    
    
}
.navigation li{
    margin-right: 28px;
}
.search-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    list-style: none;
}
.search-cart li{
    font-size: 10px;
    margin-right: 20px;
}
.shop-list{
    background-color: white;
    background-color: white;
    box-shadow: 0px 1px 2px 0px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 18%;
    right: 12;
    visibility: hidden;
}

.shop-nav ul{
    list-style: none;
}
.shop-nav ul li{
    margin-top: 10px;
}
.shop-nav:hover .shop-list{
    visibility: visible;
}
.home-decor{
    background-color: white;
    background-color: white;
    box-shadow: 0px 1px 2px 0px grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 21%;
    right: 23%;
    height: 20%;
    visibility: hidden;
}
.home-decor ul{
    list-style: none;
    font-size: 12px;
}
.home-decor-list:hover .home-decor{
    visibility: visible;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
.search-cart li{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 65px;
}
.search-cart li img{
    width: 50%;

}

.banner img{
width: 100%;
}

.catagory {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 50px;
}

.catagory div img{
    width: 68%;
    border-radius: 50%;
}
.rakhi h2{
    margin-left: 50px;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
}
.rakhi .item div img{
    height: 146px;
    width: 86%;
}
.item div h4{
    background-color: #D3134F;
    width: 86%;
    text-align: center;
    border-radius: 2px;
}